<div class="container set_width">
    <div class="box is-centered">
        <h4 class="title has-text-centered">Password Generator</h4>

        <div class="field">
            <div class="control">
                <label for="enter_length">Enter Length</label>
                <input class="input is-primary is-small is-rounded" type="text" placeholder="Enter Length" (input)="getLength($event)">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox" for="use_letters">
                    <input type="checkbox" (change)="onChangeLetters()">
                    Use Letters
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox" for="use_numbers">
                    <input type="checkbox" (change)="onChangeNumbers()">
                    Use Numbers
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox" for="use_symbols">
                    <input type="checkbox" (change)="onChangeSymbols()">
                    Use Symbols
                </label>
            </div>
        </div>
        <button class="button is-success is-fullwidth" [disabled]="!(length && (isLettersChecked || isNumbersChecked || isSymbolsChecked))" (click)="generatePassword()">Generate</button>
        <br>
        <div class="box" *ngIf="password">
            <label for="password">Password</label>
            <input class="input is-primary is-small is-rounded" type="text" [value]="password">
        </div>
    </div>
</div>